cmd/mediator-client/mediator.log
cmd/mediator-client/mediator-client.yml
cmd/mediator-client/mediator-client

cmd/mediator-server/mediator-server.yml
cmd/mediator-server/mediator-server
cmd/mediator-server/__debug_bin

cmd/mediator-cli/mediator-cli
cmd/mediator-client/uquidit_mediator.log
cmd/mediator-cli/mediator-client.yml

.vscode/*
