bin/*
package/*
cmd/mediator-client/mediator.log
cmd/mediator-client/mediator-client.yml
cmd/mediator-client/mediator-client

cmd/mediator-server/mediator-server.yml
cmd/mediator-server/mediator-server
cmd/mediator-server/__debug_bin

cmd/mediator-cli/mediator-cli
cmd/mediator-cli/mediator-client.yml

.vscode/*
cmd/mediator-server/copy2log.log
cmd/mediator-client/mediator-client.log
cmd/mediator-client/ticket_test.txt
cmd/mediator-client/mediator-client.json

*.exe
